ADMIN_PASSWORD=blackgirlmagic
GITHUB_CONTENT_TOKEN=PASTE_GITHUB_TOKEN_IN_CLOUDFLARE
GITHUB_REPO_OWNER=YOUR_GITHUB_USERNAME_OR_ORG
GITHUB_REPO_NAME=sheila-bruce
GITHUB_TARGET_BRANCH=main
CONTACT_TO_EMAIL=asheilabruceaffair@gmail.com
GOOGLE_APPS_SCRIPT_URL=
